<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Documentation</title>
  <style media="screen">
    main {
      width: 80%;
      margin: 0 auto;
    }
  </style>
</head>

<body>
  <main>
    <h1>API V1</h1>
    <h2>Author</h2>
    <pre>
    <code>
      GET api/v1/authors // returns all author
    </code>
  </pre>
    Try this <a href="/api/v1/authors">Here</a>
    <pre>
    <code>
      POST api/v1/authors // create new author
    </code>
  </pre>
  </main>
</body>

</html>
